<% if current_user != nil %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          <h4>@<%= current_user.username %>'s Twitter Feed</h4>
        </div>
        <div class="panel panel-body">
          <p><%= current_user.username %></p>
          <p><%= current_user.name %></p>
          <p><%= current_user.location %></p>
          <p><%= current_user.bio %></p>
        </div>
      </div>
    </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h4>Here is what your "friends" are saying:</h4>
      </div>
      <div class="panel-body">
        <% @following_tweets.each do |tweet| %>
          <div>
            <% if current_user.avatar.url != nil %>
              <%= image_tag current_user.avatar.url, size: 65 %>
              <% end %>
            @<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %><br />
            <%= tweet.message.html_safe %> •
            <h6><%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %></h6>
            <h6><%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %></h6><br />
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h4>Follow/Suggested Follows</h4>
        </div>
      <div class="panel panel-body">
        <p>Suggested Users To Follow...</p>
        </div>
    </div>
  </div>

</div> <!-- ends row -->
</div> <!-- ends container -->

<% end %>
